
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&family=Herr+Von+Muellerhoff&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@700&display=swap');


/* img {
    width: 100%;
    max-width: 100%;

} */


.hero{
    width: 100%;
    height: 100vh;
    background-image: url(./images/old-1130743_1920.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
   align-items: center;
   text-align: center;
   animation: slideInLeft;
   animation-duration: 1s;
}

/* @media screen  and (max-width : 600px){
    .hero{
        width: 100%;
        max-width: 100%;
        height: 35.2rem;
        background-image: url(./images/old-1130743_1920.jpg) ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
       align-items: center;
       text-align: center;
       animation: slideInLeft;
       animation-duration: 1s;
    }
} */
.google-btn{
    width: 600px;
    height: 5rem;
    margin-right: 1rem;
   
}

.google-btn :hover{
    width: 600px;
    height: 5rem;
    margin-right: 1rem;
}

@media screen and (max-width: 600px){
    .google-btn {
        width: 100%;
        max-width: 100%;
        height: 2.5rem;
        margin-right: 1rem;
    }
}



.container{
    width: 100%;
    max-width: 122.5rem;
    margin : 0 auto;
    padding: 0 2.4rem;
}


.sub-headline{
    font-size: 3vw;
    font-weight: 1000;
    font-family: 'Source Sans Pro', sans-serif;
    color : #405472 ;
    line-height: -1;
}


@media screen and (max-width: 600px) {
    .sub-headline{
        font-size: 1.5rem;
        font-weight: 1000;
        font-family: 'Source Sans Pro', sans-serif;
        color : #405472 ;
        line-height: -1;
    }
  }





@media screen and (min-width:601px){
    .first-letter{
        text-transform: uppercase;
        font-size: 6rem;
    }
}
@media screen and (max-width:601px){
    .first-letter{
        text-transform: uppercase;
        font-size: 3rem;
    }
}



/* .headline{ */
    /* color : #ff6f00; */
    /* font-size: 3.7rem; */
    /* font-family: 'Baloo Thambi 2', cursive; */
/* } */



.brand3 {
    color : #ff6f00;
    font-size: 6rem;
    font-weight: 900;
    font-family: 'Baloo Thambi 2', cursive;
}



@media screen and (max-width : 600px){
    .brand3 {
        color : #ff6f00 !important;
        font-size: 4rem !important;
        font-weight: 900 !important;
        
    }
}

.brand4 {
    color: #29AB87
}
.brand5 {
    color : #ff6f00;
    font-size: 3vw;
    font-weight: 900;
    /* font-family: 'Baloo Thambi 2', cursive; */
    
}

@media screen and (max-width : 600px){
    .brand5 {
        color : #ff6f00 !important;
        font-size: 2rem !important;
        font-weight: 900 !important;
        /* font-family: 'Baloo Thambi 2', cursive; */
        
    }
}

.brand6 {
    color: #29AB87
}

.separator{
    display: flex;
    align-items: center;
    justify-content: center;
}



.line {
    width: 100%;
    max-width: 8rem;
    height: .25rem;
    background-color: rgb(248, 204, 7);
    position: relative;
}

*::after{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

.line-right::before{
    content: '';
    position: absolute;
    top : 50%;
    transform: translateY(-50%);
    border : .6rem solid transparent;
}
.line-left::before{
    content: '';
    position: absolute;
    top : 50%;
    transform: translateY(-50%);
    border : .6rem solid transparent;
}


.line-right::before{
    border-right-color: rgb(248, 204, 7);
    right: 0;
}

.line-left::before{
    border-left-color: rgb(248, 204, 7);
    left: 0;
}

.asterisk{
    font-size: 1.2rem;
    color : #29AB87;
    margin : 0 1.6rem
}

.shadow-text {
    text-shadow: 1px 3px 2px rgb(66, 112, 15);
              
}

.headline-description h5{
    color : #405472;
    font-size: 3rem;
    font-weight: 1000;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    margin-right: -3px;
    

}
@media screen and (max-width : 600px){
    .headline-description h5{
        color : #405472;
        font-size: 1.5rem;
        font-weight: 1000;
        text-transform: uppercase;
        margin-bottom: 1.2rem;
        letter-spacing: 3px;
        margin-right: -3px;
        
    
    }
}

.btn{
    display: inline-block !important; 
    text-transform: uppercase !important;
    letter-spacing: 2px !important;
    margin-right: -2px !important;
    
    
  
}

.halo{
    font-size: 1.1rem !important;
    background-color:#29AB87 !important;
    padding: .9rem 1.8rem !important;
    color :#29AB87 !important;
}

.halo :hover,
.halo:focus{
    color :black !important;
    background-color:whitesmoke !important;
} 

.img-story{
    width: 100%;
    max-width: 600vw;
    height: 100%;
    max-height: 600vh;
    margin-right: 1rem;

}
p{
    font-size: 1.6rem;
    
}

@media screen and (max-width : 600px){
    p{
        font-size: 10px;
    }
}

/* @media screen and (max-width : 600px){
    .discover-our-story .global-headline{
        font-size: 2rem;
    }   
} */

.discover-our-story .global-headline{
    margin-top: 3rem;
}

.discover-our-story .global-headline img{
    margin-top: 3rem;
}

/* .global-headline .asterisk{
    color : black;
    margin: 2.4rem 0;

} */

/* .headline-dark{
    color : black;  
    letter-spacing: .7rem;
    margin-right: -.7rem;
} */

.global-headline .sub-headline {
    letter-spacing: -1px;
    line-height: 1;
    font-size: 3.5rem;
    font-weight: 1000;
}
/* .sub-headline{
    letter-spacing: -1px;
    line-height: 1;
    font-size: 4.3rem;
    font-weight: 1000;
} */

.beli-info{
    text-align: center;
}

.beli-description{
    margin-bottom: 3rem;
}


.beli-description p{
    line-height: 1.6;
    margin-bottom: 2.4rem;
}


.body-btn{
    font-size: 1.5rem !important;
    color : black !important;
    position: relative !important;
    transition: color .5s !important;
}

.body-btn::before{
    content: '' !important;
    position: absolute !important;
    left : 0 !important;
    bottom: -3px !important;
    width: 100% !important;
    height: 2px !important;
    background-color: brown !important;
    transition: background-color .5 !important;
}

.body-btn :hover,
.body-btn :focus{
    color :orange !important;

}

.body-btn :hover
.body-btn::before{
    background-color:red !important;
}

/* .sub-headline1{
    text-align: center;
    font-size: 7vw;
    font-weight: 1000;
    font-family: 'Source Sans Pro', sans-serif;
    color : #3c8312 ;
    line-height: -1;
    margin-bottom: 5rem;
}


@media screen and (max-width: 600px) {
    .sub-headline1{
        text-align: center;
        font-size: 3vw;
        font-weight: 1000;
        font-family: 'Source Sans Pro', sans-serif;
        color : #3c8312 ;
        line-height: -1;
        margin-bottom: 2.5rem;
    }
  } */




.baik-item {
    background-image: url('./images/pngTree.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.between{
    min-height: 65vh;
}

@media screen and (max-width: 600px) {
    .baik-item {
        background-image: url('./images/pngTree.jpg');
        background-size: cover;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}
@media screen and (max-width: 600px) {
    .between{
        min-height: 0;
    }
  }

  .discover-our-story{
      margin-top: 7rem;
      margin-left: 5rem;
      margin-right: 5rem;
      margin-bottom: 5rem;
  }
@media screen and (max-width : 600px){
    .card{
        width : 100%;
        height: 100%;
    }
}
.card:hover{
      transform: scale(1.1);
      transition: ease 1s;
}

.img1{
    width: 50vw;
    margin-right : 5rem
}
@media screen and (max-width : 600px){
    .img1 {
         
         width: 100%;
         align-self: center;
         width: 15rem;
         margin: 1rem -1rem 0 ;
         max-width : 10rem;
         max-height: 10rem;
         margin-left : -1rem;
         margin-bottom : 2rem   
    }
} 

.flix{
    margin-top: 15rem
}

@media screen and (max-width : 600px){
    .flix {
         
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
} 

.name{
    width : 100%;
    max-width : 100%
}

@media screen and (max-width : 600px){
    .card-body h5{
        font-size: 10px;
    }   
}


.fitur-name {
    color : #405472;
    font-size: 5rem;
    font-weight: 1000;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    margin-top: 12rem;
    margin-bottom: 5rem ;
}

@media screen and (max-width : 600px){
    .fitur-name {
        color : #3c8312;
        font-size: 3rem;
        font-weight: 1000;
        font-family: 'Source Sans Pro', sans-serif;
        text-align: center;
        
    }
}
