@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&family=Herr+Von+Muellerhoff&family=Source+Sans+Pro&display=swap');

*,
*::before,
*::after{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

:root{
    --main-font : 'Source Sans Pro', sans-serif;
    --secondary-font : 'Herr Von Muellerhoff', cursive;
    --body-font : 'Source Sans Pro', sans-serif;
    --main-font-color-dark : #252525;
    --secondary-font-color : #c59d5f;
    --body-font-color : #515151;
}
html{
    font-family : var(--body-font);
    font-size: 10px;
    color :var(--body-font-color);
    scroll-behavior: smooth;
}

section {
    padding: 3.9rem 0;
}

img {
    width: 100%;
    max-width: 100%;
}


p{
    font-size: 1.6rem;
}


.container{
    width: 100%;
    max-width: 122.5rem;
    margin : 0 auto;
    padding: 0 2.4rem;
}

header{
    width : 100%;
    position: absolute;
    top : 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom , rgb(0,0,0,.5), transparent);
}

.nav{
    height : 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-toggle{
    color : #ffff;
    font-size: 2.2rem;
    position: absolute;
    top :  50%;
    transform: translateY(-50%);
    right : 2.5rem;
    cursor: pointer;
    z-index: 1500;
}

.fa-times{
    display: none;
}

.nav-list{
    list-style: none;
    position: fixed;
    top : 0;
    left : 0;
    width: 50%;
    height :100vh;
    background-color: var(--main-font-color-dark);
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    transform: translateX(-100%);
    transition: transform .5s;
}

.nav::before{

    content: '';
    position: fixed;
    top : 0;
    left : 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.8);
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}

.open .fa-times{
    display: block;
}
.open .fa-bars{
    display: none;
}

.open .nav-list{
    transform: translateX(0);
}

.open .nav::before{
    opacity: 1;
    transform: scale(1);
}